* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  --IconColor: #4fc17e;
  --IconLight: #ddf2e6;
  --IconDark: #24593a;
  --IconGray: #a5a5a5;  
  --IconRed: #ff7777;
  --WhiteColor: #f4f4f4;
}

:root {
  font-family: "Montserrat", sans-serif;
}

.icon-logo {
  width: 6rem;
  height: 6rem;
  object-fit: contain;
  margin-left: 10px;
  margin-bottom: -5px;
}

body {
  background-color: #ffffff;
  background-image: radial-gradient(rgba(12, 12, 12, 0.05) 2px, transparent 0);
  background-size: 15px 15px;
  background-position: -5px -5px;
}

main {
  padding-top: 60px;
  padding-left: 60px;
} 

.header-container {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 1rem;
}

.page-title {
  text-align: center;
  margin: 0;
  font-size: 3.5rem;
  font-weight: bold;
  color: var(--IconColor);
  background-color: var(--WhiteColor);
  padding: 1rem;
  border-radius: 14px;
}

.btn-container {
  display: flex;
  justify-content: center;
}

.btn {
  width: 25%;
  max-width: 150px;
  min-width: 100px;
  padding: 12px 8px;
  margin-top: 2rem;
  border-radius: 14px;
  color: var(--WhiteColor);
  font-family: inherit;
  background-color: var(--IconColor);
  border: none;
  box-shadow: 0 5px 12px rgba(0, 0, 0, 0.1);
}

.btn:hover {
  cursor: pointer;
  background-color: var(--IconDark);
  transition: all 0.2s ease;
}

.wrapper.collapse .btn-logout {
  padding: 12px 8px;
  margin-top: 2rem;
  border-radius: 14px;
  color: var(--WhiteColor);
  font-family: inherit;
  background-color: var(--IconRed);
  border: none;
  width: 75%;
  box-shadow: 0 5px 12px rgba(0, 0, 0, 0.1);
}

.btn-logout {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 85%;
  padding: 12px 16px;
  margin-top: 2rem;
  border-radius: 14px;
  color: var(--WhiteColor);
  font-family: inherit;
  background-color: var(--IconRed);
  border: none;
  box-shadow: 0 5px 12px rgba(0, 0, 0, 0.1);
}

.btn-logout::before {
  content: "Salir";
  font-size: 1rem;
}

.wrapper.collapse .btn-logout::before {
  content: "";
  display: none;
}


.btn-logout:hover, .wrapper.collapse .btn-logout:hover {
  cursor: pointer;
  background-color: var(--IconDark);
  transition: all 0.2s ease;

}

