* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  --IconColor: #4fc17e;
  --IconLight: #ddf2e6;
  --IconDark: #24593a;
  --IconGray: #a5a5a5;  
  --IconRed: #ff7777;
  --WhiteColor: #f4f4f4;
}

:root {
  font-family: "Montserrat", sans-serif;
}

.icon-logo {
  width: 6rem;
  height: 6rem;
  object-fit: contain;
  margin-left: 10px;
  margin-bottom: -5px;
}

body {
  background-color: #ffffff;
  background-image: radial-gradient(rgba(12, 12, 12, 0.05) 2px, transparent 0);
  background-size: 15px 15px;
  background-position: -5px -5px;
}

main {
  padding-top: 60px;
  padding-left: 60px;
} 

