.kanban-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}

.calendar-wrapper {
    display: flex;
    justify-content: center;
    background-color: var(--WhiteColor);
    margin-top: 5rem;
    width: 100%;
    z-index: 1;
}

.calendar-container {
    display: flex;
    width: 80%;
    padding: 2rem;
    z-index: 1;
}