.tables-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-bottom: 5rem;
}

.detail-table {
    width: 100%;
    border-collapse: collapse;
    margin: 1rem;
}   

.detail-table th, .detail-table td {
    border: 1px solid #ccc;
    padding: 0.5rem;
    text-align: center;
}   

.table-detail-container {
    background-color: var(--WhiteColor);
    padding: 2rem;
    border-radius: 14px;
    margin-top: 1rem;
    overflow-y: auto;
    max-width: 1400px;
}   

.table-detail-container h2 {
    font-size: 2rem;
    color: var(--IconColor);
}

.entity-table {
    background-color: #fff;
    padding: 1rem;
    border-radius: 14px;
}


.link-button {
    background-color: var(--IconColor);
    color: var(--WhiteColor);
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
    border-radius: 14px;
}   

.modal-overlay-detail {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: auto;
    height: auto;
    padding: 2rem;
    background-color: var(--WhiteColor);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    border-radius: 14px;
    box-shadow: 0 5px 12px rgba(0, 0, 0, 0.1);
}

.modal-title {
    font-size: 1.5rem;
    color: var(--IconColor);
}

.chart-container {
    padding: 1.5rem;
    background-color: var(--WhiteColor);
    margin: 2rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .chart-title-chart {
    text-align: center; 
    font-size: 2rem;
    margin-bottom: 1.5rem;
    width: 100%;
    color: var(--IconColor) !important;
  }
